# Environment Variables — PBVM Purulia Backend
# Copy this file to .env and fill in your values

# =====================
# Server
# =====================
PORT=5000
NODE_ENV=development

# =====================
# MongoDB
# =====================
MONGODB_URI=mongodb+srv://rajmd1800_db_user:vM9DoZBLb9Ga1EeL@cluster0.oxa4xpx.mongodb.net/?appName=Cluster0
# =====================
# JWT Auth
# =====================
JWT_SECRET=1af2c549e906bd2c9b9d676efa976f67a7bd31f1a322b9d252b5f9d4a69ce152728f23ed177824059054a112a3ebf33a4c07ae570df692ee4f4c5b4e3548f03f
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=0bd6661265046c3fcc92e4b41966524f11b3f73e096c41d1264a1a1612554a854b37ae3cd228c93c52816203de79b040a0e6b81f88c46b636a2ad41e5ce623e3
JWT_REFRESH_EXPIRES_IN=30d

# =====================
# Cloudinary (File Storage)
# =====================
CLOUDINARY_CLOUD_NAME=ddvhuhsne
CLOUDINARY_API_KEY=436687398555979
CLOUDINARY_API_SECRET=lcg6Y9DHNXsr4SQDkM9byClW72Y

# =====================
# Email (SMTP / Nodemailer)
# =====================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_gmail@gmail.com
SMTP_PASS=your_gmail_app_password
ADMIN_EMAIL=pbvmpurulia@gmail.com
FROM_EMAIL="PBVM Purulia <noreply@pbvmpurulia.org>"

# =====================
# Frontend URL (for CORS)
# =====================
FRONTEND_URL=http://localhost:3000
